DJANGO_SECRET_KEY=change-this-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,rds-endpoint
DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=password
DB_HOST=rds-endpoint
DB_PORT=5432
CSRF_TRUSTED_ORIGINS=<ecs-endpoint>
